Repository serguei9090/The-Spatial-Eye: changes, and which lefthook commands are due for each by the changed paths.
All: biome, type-check

biome:
  run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again

type-check:
  run: npx tsc --noEmit

Spatial improvements
  backend/main.py
  backend/tools_config.py
  components/atoms/HighlightCircle.tsx
  components/molecules/SpatialOverlay.tsx
  components/organisms/SettingsMenu.tsx
  components/templates/LandingTemplate.tsx
  components/templates/SpatialLayout.tsx
  lib/gemini/handlers.ts
  lib/hooks/useGeminiCore.ts
  lib/hooks/useGeminiLive.ts
  lib/i18n/translations.ts
  lib/store/settings-context.tsx
  lib/utils/coordinates.ts
Due: biome, type-check

some updates
  .vscode/settings.json
  __tests__/components/atoms/HighlightCircle.test.tsx
  __tests__/components/organisms/AIVideoProcessor.test.tsx
  __tests__/lib/gemini/handlers.test.ts
  __tests__/lib/hooks/useGeminiCore.test.tsx
  backend/firebase_auth.py
  backend/main.py
  backend/pyproject.toml
  backend/test_adk.py
  backend/tools_config.py
  backend/uv.lock
  components/atoms/AIOrb.tsx
  components/atoms/ArchitectureNode.tsx
  components/atoms/SpatialGrid.tsx
  components/molecules/AudioCapture.tsx
  components/molecules/SpatialOverlay.tsx
  components/molecules/VideoFeed.tsx
  components/organisms/AITranscriptOverlay.tsx
  components/organisms/AIVideoProcessor.tsx
  components/organisms/CreativeStudio.tsx
  components/templates/SpatialLayout.tsx
  components/templates/StudioLayout.tsx
  components/templates/layouts/SpatialView.tsx
  lib/constants.ts
  lib/gemini/it-architecture-handlers.ts
  lib/hooks/useAudioDevices.ts
  lib/hooks/useGeminiCore.ts
  lib/hooks/useGeminiLive.ts
  lib/i18n/translations.ts
  lib/store/settings-context.tsx
  lib/store/studio-context.tsx
  lib/types.ts
  lib/utils/audio.ts
  lib/utils/coordinates.ts
  public/worklets/video-processor.worker.js
Due: biome, type-check

prompt spatial eye and othe rimprovement fixes
  .gitignore
  __tests__/components/atoms/HighlightCircle.test.tsx
  backend/frame_diagnostics.py
  backend/main.py
  backend/pyproject.toml
  backend/tools_config.py
  backend/uv.lock
  biome.json
  components/atoms/HighlightCircle.tsx
  components/atoms/SpatialGrid.tsx
  components/molecules/SpatialOverlay.tsx
  components/organisms/AIVideoProcessor.tsx
  docs/aigoogle/pythonliveexampple.md
  lib/constants.ts
  lib/gemini/handlers.ts
  lib/store/settings-context.tsx
  lib/utils/coordinates.ts
Due: biome, type-check

update readme and setting
  README.md
  components/organisms/AITranscriptOverlay.tsx
  components/organisms/ControlBar.tsx
  components/organisms/SettingsMenu.tsx
  lib/store/settings-context.tsx
Due: biome, type-check

ui api key improvement to bring you own key
  README.md
  backend/frame_diagnostics.py
  backend/main.py
  components/organisms/ConnectionMenu.tsx
  components/organisms/ControlBar.tsx
  lib/hooks/useGeminiCore.ts
  lib/store/settings-context.tsx
Due: biome, type-check

custom key
  backend/main.py
  components/organisms/AITranscriptOverlay.tsx
  lib/hooks/useGeminiCore.ts
  public/worklets/video-processor.worker.js
Due: biome, type-check

api key error handlers user message
  backend/main.py
  components/organisms/ControlBar.tsx
  components/templates/StudioLayout.tsx
  lib/hooks/useGeminiCore.ts
  lib/store/studio-context.tsx
Due: biome, type-check

AI Transcript toggle for the IT Architect mode.
  components/organisms/SettingsMenu.tsx
Due: biome, type-check

Live Only update readme, and diagram
  README.md
  architecture.md
  components/organisms/ControlBar.tsx
  components/templates/LandingTemplate.tsx
  lib/store/studio-context.tsx
Due: biome, type-check

landing page imrpovement
  components/templates/LandingTemplate.tsx
Due: biome, type-check

cleaning dead code
  __tests__/a11y.test.tsx
  __tests__/components/organisms/AIVideoProcessor.test.tsx
  __tests__/components/organisms/SpatialOverlay.test.tsx
  __tests__/lib/gemini/handlers.test.ts
  __tests__/lib/hooks/useGeminiCore.test.tsx
  __tests__/lib/hooks/useGeminiLive.test.tsx
  components/atoms/Badge.tsx
  components/atoms/Icon.tsx
  components/atoms/Spinner.tsx
  components/molecules/ContextCard.tsx
  components/molecules/DeviceSelector.tsx
  components/molecules/ErrorToast.tsx
  components/molecules/LiveNarration.tsx
  components/molecules/ModeSelector.tsx
  components/organisms/CreativeBoard.tsx
  components/organisms/StoryOrchestrator.tsx
  knip-utf8.txt
  knip_results.txt
  lib/api/gemini_websocket.ts
  lib/firestore/sessionService.ts
  lib/gemini/tools.ts
  lib/gemini/tools/definitions.ts
  lib/hooks/useGeminiCore.ts
  lib/hooks/useGeminiLive.ts
  lib/hooks/useSpatialLive.ts
  lib/hooks/useStoryteller.ts
  lib/i18n/context.tsx
  test_output.txt
Due: biome, type-check

readdme update team
  README.md
Due: none

readme architecture updated
  README.md
  architecture.md
  docs/hakentchReady.md
Due: none

update artitecture for live only
  README.md
  architecture.md
  docs/aboutproject.md
Due: none

about updated
  docs/aboutproject.md
Due: none

Deployment setup and cleaning
  .github/workflows/deploy.yml
  .gitignore
  Dockerfile
  IaC/pulumi/Pulumi.yaml
  IaC/pulumi/index.ts
  IaC/pulumi/package.json
  IaC/terraform/main.tf
  IaC/terraform/variables.tf
  README.md
  docs/aboutproject.md
  gemini.md
  lib/firebase/config.ts
Due: biome, type-check

unitests
  __tests__/app/page.test.tsx
  __tests__/components/organisms/AITranscriptOverlay.test.tsx
  __tests__/components/organisms/AIVideoProcessor.test.tsx
  __tests__/components/organisms/ConnectionMenu.test.tsx
  __tests__/components/organisms/ControlBar.test.tsx
  __tests__/components/organisms/LandingHero.test.tsx
  __tests__/components/organisms/TechArchitectureVisual.test.tsx
  __tests__/components/templates/LandingTemplate.test.tsx
  __tests__/lib/hooks/useGeminiCore.test.tsx
  __tests__/lib/hooks/useGeminiLive.test.tsx
  __tests__/lib/hooks/useSpatialMode.test.tsx
  jest.config.mjs
  jest.setup.ts
Due: biome, type-check

documents update
  README.md
  docs/2026Improvements.md
  docs/codereview.md
  docs/gemini2.md
  docs/hackathon.md
  docs/hackathonReady.md
  docs/submission/DEPLOYMENT.md
  docs/submission/GCP_PROOF.md
  docs/submission/architecture.md
  gemini.md
Due: none

feat: Add new landing page with accessibility tests and GitHub Actions workflows.
  .github/workflows/tests.yml
  __tests__/accessibility/landing.a11y.test.tsx
  app/page.tsx
  components/templates/LandingTemplate.tsx
Due: biome, type-check

unitest [skip ci]
  __tests__/app/page.test.tsx
  __tests__/components/atoms/HighlightCircle.test.tsx
  __tests__/components/organisms/ConnectionMenu.test.tsx
  jest.config.mjs
Due: biome, type-check

deploy updates trunk setup
  .github/workflows/deploy.yml
  .trunk/.gitignore
  .trunk/configs/.hadolint.yaml
  .trunk/configs/.isort.cfg
  .trunk/configs/.markdownlint.yaml
  .trunk/configs/.yamllint.yaml
  .trunk/configs/ruff.toml
  .trunk/trunk.yaml
  Dockerfile
  IaC/terraform/main.tf
  IaC/terraform/variables.tf
  __tests__/components/atoms/HighlightCircle.test.tsx
  __tests__/components/organisms/ConnectionMenu.test.tsx
  trunk.ps1
Due: biome, type-check

trunk check
  .github/workflows/accessibility.yml
  .github/workflows/deploy.yml
  .github/workflows/tests.yml
  .trunk/trunk.yaml
  Dockerfile
  IaC/terraform/main.tf
  apphosting.yaml
  backend/Dockerfile
  gemini.md
  knip-utf8.txt
  knip_results.txt
  test_output.txt
Due: none

lefthook for fast commit trunk on demand for full check
  .trunk/trunk.yaml
  bun.lock
  lefthook.yml
  package.json
Due: biome

trunk frmt ruff
  .agent/skills/rule-creator/scripts/validate_rule.py
  .agent/skills/skill-creator/scripts/package_skill.py
  .agent/skills/skill-creator/scripts/quick_validate.py
  backend/main.py
Due: none

formats
  backend/test_adk.py
  backend/tools_config.py
Due: none

ci: allow manual workflow triggers and force run
  .github/workflows/accessibility.yml
  .github/workflows/deploy.yml
  .github/workflows/tests.yml
Due: none

refactor: use environment variables for API keys in scripts
  scripts/test_image_gen.js
  scripts/test_image_gen_v2.js
Due: biome

updated deployment
  Dockerfile
  IaC/terraform/main.tf
  backend/main.py
  lib/hooks/useGeminiCore.ts
  next.config.ts
  scripts/start-unified.js
Due: biome, type-check

format and update
  lib/hooks/useHighlightDetection.ts
Due: biome, type-check

prettier fro trunk ignore biome
  .prettierignore
  .prettierrc
  .trunk/trunk.yaml
Due: none

one concurent deploymen run [skipp ci]
  .github/workflows/deploy.yml
Due: none

docs: update documentation and redact sensitive information [skip ci]
  .github/workflows/deploy.yml
  IaC/terraform/main.tf
  README.md
  docs/hackathonReady.md
  docs/submission/DEPLOYMENT.md
  docs/submission/GCP_PROOF.md
  docs/submission/blog_post_draft.md
  docs/submission/logs/cloud.run.md
  docs/submission/screenshots/Artifact Registry.png
  docs/submission/screenshots/cloud.run.png
  docs/submission/screenshots/firebaseaAuth.png
  docs/submission/screenshots/image.png
Due: none

refractor split static page to cloudrun
  .github/workflows/deploy.yml
  IaC/terraform/main.tf
  backend/Dockerfile
  backend/main.py
  components/templates/LandingTemplate.tsx
  firebase.json
  next.config.ts
Due: biome, type-check

fix lint remove obsolete api routes
  __tests__/accessibility/landing.a11y.test.tsx
  app/api/gemini/ephemeral-token/route.ts
  app/api/gemini/key/route.ts
  app/api/mock/generate-image/route.ts
  app/api/test/route.ts
  firebase.json
Due: biome, type-check

test: add accessibility test for the landing page using `jest-axe`
  __tests__/accessibility/landing.a11y.test.tsx
  jest.setup.ts
Due: biome, type-check

feat: Add Terraform configuration for a Cloud Run service with Artifact Registry and IAM, and implement `useGeminiCore` hook for Gemini Live WebSocket integration.
  IaC/terraform/main.tf
  lefthook.yml
  lib/hooks/useGeminiCore.ts
Due: biome, type-check

Path conditions:
  biome: any of: *.{js,ts,jsx,tsx,json}
  type-check: any of: *.{ts,tsx}
