Repository serguei9090/The-Spatial-Eye: changes, and which lefthook commands are due for each by the changed paths.
All: biome, type-check

lefthook.yml:

# lefthook.yml

pre-commit:
  parallel: true
  commands:
    # 1. Biome: Format and Lint staged files
    biome:
      glob: "*.{js,ts,jsx,tsx,json}"
      run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again

    # 2. TypeScript: Type check the entire project (tsc does not support staged only)
    type-check:
      glob: "*.{ts,tsx}"
      run: npx tsc --noEmit

upd lefthook
  IaC/terraform/main.tf
  lefthook.yml
Due: none

refactor: Update Firebase service ID from 'the-spatial-eye' to 'spatial-eye'.
  firebase.json
Due: biome

feat: add Terraform configuration for a Google Cloud Run service, Artifact Registry, and associated IAM permissions.
  IaC/terraform/main.tf
Due: none

feat: Add initial Terraform configuration for a Google Cloud Run service, Artifact Registry, and associated IAM permissions.
  IaC/terraform/main.tf
Due: none

feat: Add initial GitHub Actions CI/CD for Firebase and Cloud Run deployment, Terraform infrastructure, and Gemini Core integration.
  .github/workflows/deploy.yml
  IaC/terraform/main.tf
  lib/hooks/useGeminiCore.ts
Due: biome, type-check

feat: Add a `SettingsMenu` component for media device, language, and architecture actions, and introduce a `useGeminiCore` hook.
  components/organisms/SettingsMenu.tsx
  firebase.json
  lib/hooks/useGeminiCore.ts
Due: biome, type-check

update start button behavior
  lib/hooks/useGeminiCore.ts
Due: biome, type-check

simplify local deployment instructions
  README.md
Due: none
