Repository serguei9090/The-Spatial-Eye: changes, and which lefthook commands are due for each by the changed paths.
All: biome, type-check

lefthook.yml:

# lefthook.yml

pre-commit:
  parallel: true
  commands:
    # 1. Biome: Format and Lint staged files
    biome:
      glob: "*.{js,ts,jsx,tsx,json}"
      run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again

    # 2. TypeScript: Type check the entire project (tsc does not support staged only)
    type-check:
      glob: "*.{ts,tsx}"
      run: npx tsc --noEmit

improved using aigemini as reference
  .agent/rules/hackathon-standards.md
  bun.lock
  components/molecules/AudioCapture.tsx
  components/molecules/SpatialOverlay.tsx
  components/organisms/ControlBar.tsx
  components/templates/SpatialLayout.tsx
  components/templates/StudioLayout.tsx
  docs/debug-analysis-1007.md
  lib/api/gemini_websocket.ts
  lib/gemini/models.ts
  lib/gemini/tools.ts
  lib/hooks/useGeminiLive.ts
  lib/utils/audio.ts
  package.json
  public/worklets/pcm-capture-processor.js
Due: biome, type-check

improved selector
  lib/api/gemini_websocket.ts
  lib/gemini/tools.ts
  lib/hooks/useGeminiLive.ts
Due: biome, type-check

new module itr
  components/atoms/ArchitectureNode.tsx
  components/molecules/InterleavedPost.tsx
  components/organisms/ControlBar.tsx
  components/organisms/CreativeStudio.tsx
  components/organisms/ITArchitectureCanvas.tsx
  components/organisms/ITArchitectureStudio.tsx
  components/templates/StudioLayout.tsx
  docs/hakentoch.md
  lib/api/gemini_websocket.ts
  lib/gemini/it-architecture-handlers.ts
  lib/gemini/models.ts
  lib/gemini/registry.ts
  lib/gemini/storyteller-handlers.ts
  lib/gemini/tools/definitions.ts
  lib/hooks/useGeminiCore.ts
  lib/hooks/useGeminiLive.ts
  lib/i18n/translations.ts
  lib/types.ts
  package-lock.json
  package.json
  scripts/list_gemini_models.js
Due: biome, type-check

storyteller working fine
  components/molecules/InterleavedPost.tsx
  components/organisms/CreativeStudio.tsx
  components/organisms/StoryOrchestrator.tsx
  lib/api/gemini_websocket.ts
  lib/gemini/model-error.ts
  lib/gemini/storyteller-handlers.ts
  lib/hooks/useGeminiCore.ts
  lib/hooks/useGeminiLive.ts
Due: biome, type-check

improved diagram
  2026Improvements.md
  __tests__/a11y.test.tsx
  app/layout.tsx
  components/molecules/VideoFeed.tsx
  components/organisms/AITranscriptOverlay.tsx
  components/organisms/ITArchitectureStudio.tsx
  components/templates/LandingTemplate.tsx
  components/templates/StudioLayout.tsx
  lib/api/gemini_websocket.ts
  lib/gemini/it-architecture-handlers.ts
  lib/gemini/tools/definitions.ts
  lib/hooks/useAudioDevices.ts
  lib/hooks/useGeminiCore.ts
  lib/hooks/useGeminiLive.ts
  skills/spatial-eye-feature-builder/SKILL.md
  skills/spatial-eye-feature-builder/agents/openai.yaml
  skills/spatial-eye-feature-builder/references/feature-delivery-checklist.md
  skills/spatial-eye-firestore-sessions/SKILL.md
  skills/spatial-eye-firestore-sessions/agents/openai.yaml
  skills/spatial-eye-firestore-sessions/references/schema-and-rules.md
  skills/spatial-eye-gemini-live/SKILL.md
  skills/spatial-eye-gemini-live/agents/openai.yaml
  skills/spatial-eye-gemini-live/references/live-api-cheatsheet.md
  skills/spatial-eye-overlay-coordinates/SKILL.md
  skills/spatial-eye-overlay-coordinates/agents/openai.yaml
  skills/spatial-eye-overlay-coordinates/references/coordinate-rules.md
Due: biome, type-check

python backend init
  backend/.python-version
  backend/README.md
  backend/hello.py
  backend/main.py
  backend/pyproject.toml
  backend/uv.lock
  docs/backend_migration.md
Due: none

Fix linting errors and clean up dependencies in useGeminiCore
  .agent/rules/backend-rules.md
  backend/hello.py
  backend/main.py
  backend/pyproject.toml
  backend/uv.lock
  docs/Bidi-streaming/part1intro.md
  docs/Bidi-streaming/part2sendingmessage.md
  docs/Bidi-streaming/part3event.md
  docs/Bidi-streaming/part4runconfig.md
  docs/Bidi-streaming/part5audioimagevideo.md
  docs/aigoogle/liveapi.md
  docs/backend_migration.md
  lib/hooks/useGeminiCore.ts
  lib/utils/audio.ts
  package.json
Due: biome, type-check

live api backend working and live api select tool is working[skip ci]
  backend/__pycache__/main.cpython-313.pyc
  backend/__pycache__/tools_config.cpython-313.pyc
  backend/main.py
  backend/test_adk.py
  backend/tools_config.py
  docs/adk_implementation.md
  docs/backend_migration.md
  docs/issue_qa.md
  gemini.md
  gemini2.md
  lib/api/gemini_websocket.ts
  lib/gemini/handlers.ts
  lib/gemini/models.ts
  lib/gemini/tools/definitions.ts
  lib/hooks/useGeminiCore.ts
  lib/hooks/useGeminiLive.ts
  lib/hooks/useSpatialLive.ts
Due: biome, type-check

storyteller improved
  backend/__pycache__/main.cpython-313.pyc
  backend/__pycache__/tools_config.cpython-313.pyc
  backend/__pycache__/tools_config.cpython-314.pyc
  backend/main.py
  backend/tools_config.py
  components/atoms/AudioTrigger.tsx
  components/molecules/InterleavedPost.tsx
  components/organisms/CreativeStudio.tsx
  docs/backend_migration.md
  docs/storytellerIssue_QA.md
  lib/api/gemini_websocket.ts
  lib/gemini/storyteller-handlers.ts
  lib/hooks/useGeminiCore.ts
  lib/hooks/useGeminiLive.ts
  lib/types.ts
Due: biome, type-check

storyteller remove select [skip ci]
  backend/tools_config.py
Due: none

extra tools for architect
  backend/tools_config.py
Due: none

buffer audio implemented [skip ci]
  backend/__pycache__/tools_config.cpython-313.pyc
  backend/tools_config.py
  lib/hooks/useGeminiCore.ts
Due: biome, type-check

improved storyteller audio
  backend/__pycache__/main.cpython-313.pyc
  backend/__pycache__/sub_agents.cpython-313.pyc
  backend/__pycache__/tools_config.cpython-313.pyc
  backend/main.py
  backend/pyproject.toml
  backend/tools_config.py
  backend/uv.lock
  docs/A2APython/a2aConsuming.md
  docs/A2APython/a2aExposing.md
  docs/A2APython/a2aintro.md
  lib/gemini/storyteller-handlers.ts
  lib/gemini/tools/definitions.ts
  lib/hooks/useGeminiCore.ts
  lib/hooks/useGeminiLive.ts
  lib/utils/audio.ts
Due: biome, type-check

[skip CI]
  package.json
Due: biome

[Skip ci]
  .gitignore
  backend/__pycache__/main.cpython-313.pyc
Due: none

spatial change to native gemini 2d and menu control
  backend/__pycache__/tools_config.cpython-313.pyc
  backend/__pycache__/tools_config.cpython-314.pyc
  backend/tools_config.py
  components/atoms/SpatialGrid.tsx
  components/molecules/SpatialOverlay.tsx
  components/organisms/ControlBar.tsx
  components/organisms/SettingsMenu.tsx
  lib/gemini/handlers.ts
  lib/hooks/useGeminiCore.ts
  lib/store/settings-context.tsx
Due: biome, type-check

control bar adjustments [skip ci]
  components/organisms/ControlBar.tsx
  components/organisms/SettingsMenu.tsx
Due: biome, type-check

AI orb animation
  components/atoms/AIOrb.tsx
  components/molecules/AudioCapture.tsx
  components/organisms/ControlBar.tsx
  components/templates/StudioLayout.tsx
  lib/hooks/useGeminiCore.ts
Due: biome, type-check

Storymoide disable for the event
  components/organisms/ControlBar.tsx
  components/templates/StudioLayout.tsx
Due: biome, type-check

minor improvements preparing
  IaC/terraform/main.tf
  backend/Dockerfile
  backend/tools_config.py
Due: none
